<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
">

    <!--   声明使用注解配置-->

    <context:annotation-config/>
    <!--    声明Spring容器扫描范围-->
    <context:component-scan base-package="com.langRenzhou"/>
    <!--    配置dataSource-->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.SimpleDriverDataSource"
          p:driverClass="com.mysql.cj.jdbc.Driver"
          p:url="jdbc:mysql://127.0.0.1:12315/yh_0509?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=GMT%2B8"
          p:username="root"
          p:password="root"
    />
    <!--  配置template-->
    <bean
            id="template"
            class="org.springframework.jdbc.core.JdbcTemplate"
            p:dataSource-ref="dataSource"/>
<!--    配置mybatis工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
       p:dataSource-ref="dataSource"
          p:configLocation="classpath:mybatis-config.xml"
    />
<!--    配置会话-->
    <bean id="sqlSession" class="org.mybatis.spring.mapper.MapperScannerConfigurer"
      p:basePackage="com.langRenzhou.Dao"
    />
</beans>